.todo-form{
    border: 1px solid black;

    grid-area: 2/2/2/8;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;

    padding: 5px;
}

.title-container{
    grid-area: 2/1/2/2;

    display: flex;
    flex-direction: column;
}

.description-container{
    grid-area: 3/1/3/2;

    display: flex;
    flex-direction: column;
}

.date-container{
    grid-area: 2/2/2/3;

    display: flex;
    flex-direction: column;
}

.category-container{
    grid-area: 3/2/3/3;
    
    display: flex;
    flex-direction: column;
}

.priority-container{
    grid-area: 2/3/2/4;

    display: flex;
    flex-direction: column;
}

.submit-button{
    grid-area: 4/2/4/3;
}