.todos{
    padding: 10px;

    background-color: rgb(37, 37, 37);
    grid-area: 3/2;

    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(224, 224, 224);
}

.todos>h2{
    margin: 0px;

}

.todo-element{
    display: grid;
    grid-template-columns: 5fr 15fr 10fr 10fr 30fr 15fr 5fr 5fr 5fr; /*column width muss angepasst werden*/
}

.todo-title, .todo-category, .todo-description, .todo-due-date, .todo-priority, .todo-complete, .edit-todo-btn{
    border-bottom: 1px solid rgb(224, 224, 224);
}

.todo-title, .todo-category, .todo-description, .todo-due-date, .todo-priority{
    border-right: 0px solid rgb(224, 224, 224);
}

.todo-title, .todo-category, .todo-description, .todo-due-date, .todo-priority, .todo-complete, .delete-todo-btn, .edit-todo-btn, .unfold-todo-btn{
    padding: 5px;
    margin-top: 10px;
}

.todo-title{
    grid-area: 1/2;
}

.todo-description{
    grid-area: 1/5;
}

.todo-due-date{
    grid-area: 1/3;
}

.todo-priority{
    grid-area: 1/4;
}

.todo-category{
    grid-area: 1/6;

}

.todo-complete{
    grid-area: 1/7;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.edit-todo-btn{
    grid-area: 1/8;

    background-image: url("./icons/edit.png");
}

.delete-todo-btn{
    grid-area: 1/9;

    background-image: url("./icons/delete.png");
}

.unfold-todo-btn{
    grid-area: 1/1;
    background-image: url("./icons/expand-more.png");
}

.unfold-todo-btn, .delete-todo-btn, .edit-todo-btn{
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 100%;
    width: 32px;
    height: 32px;

    background-color: rgb(224, 224, 224);
    border: none;
    cursor: pointer;
}

.unfold-todo-btn:active, .delete-todo-btn:active, .edit-todo-btn:active{
    background-color: rgb(70, 70, 70);

}

.closed{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.open{
    word-break: break-all;
}

.strikethrough{
    text-decoration: line-through;
}