.todo-lists{
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-lists>h2{
    margin: 0px;
    color: white;
}

.todo-list-form{
    display: flex;
    justify-content: space-between;
}

.add-todo-list-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-todo-list-container>label{
    color: white;
}

.todo-list-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-list-element{
    display: flex;
    justify-content: space-between;
}

.todo-list-title{
    color: white;
}

.remove-todo-list-button{
    background-image: url("./icons/delete.png");
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 100%;
    width: 32px;
    height: 32px;

    justify-self: center;
    align-self: flex-start;
}