.todos{
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todos>h2{
    margin: 0px;
    align-self: center;
    color: white;
}

.todo-element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    color: white;

    border-bottom: 1px solid white;
}

.todo-title, .todo-category, .todo-description, .todo-due-date, .todo-priority{
    border-right: 1px solid white;
}

.todo-title, .todo-category, .todo-description, .todo-due-date, .todo-priority, .todo-complete{
    padding: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todo-title{
    grid-area: 1/1;
}

.todo-description{
    grid-area: 1/4;
}

.todo-due-date{
    grid-area: 1/2;
}

.todo-priority{
    grid-area: 1/3;
}

.todo-category{
    grid-area: 1/5;
}

.todo-complete{
    grid-area: 1/6;
}